body{
  margin: 0px;
}

.container-fluid {
  padding: 0 !important;
}

.row{
  margin: 0 !important;
  padding: 10px;
}

.topnav {
  overflow: hidden;
  background-color:#455A64;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.graph-row{
  width: 100%;
}

.carousel-inner{
  padding-bottom: 200px;
}

#graphs{
  width: 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li{
  background-color: grey !important;
}

.carousel-indicators li.active{
  background-color: black !important;
}

.btns {
  color: #FFFFFF !important;
  text-decoration: none;
  font-size: 17px !important;
  border-width: 0px !important;
  border-radius: 40px !important;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 4px;
}

.btns:hover {
  background-color: #ddd;
  color: black !important;
}
  
.btns.active {
  background-color: #607D8B !important;
  color: white;
}

.chart{
  width:100%;
}