body{
  margin: 0px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  padding-left: 13vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}
  
.topnav label {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10vw;
  width:10vw;
}
  
.topnav label:hover {
  background-color: #ddd;
  color: black;
}
  
.topnav label.active {
  background-color: rgb(153, 153, 153);
  color: white;
}

.chart{
  width:50vw;
  min-height: 450px;
}